* 
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body 
{
    font-family: sans-serif;
}

.home {
    height: 100vh;
    width: 100%;
    background-image: url(./Template_1/background1.jpg);
    background-size: cover;
}
.home .navbar{
    position: absolute;
    top: 0;

}
 

    

.home .overlay{
   height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
}
.about {
    height: 100vh;
    width: 100%;
    background-color: red;
}
