/*
1.genral
2.home
3.hom-navbat
4.home-content
5.home-content-text
6-home-content-button
7.about
*/

/*
1.genral
*/
* 
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body 
{
    font-family: sans-serif;
}
/*
2.home
*/
.home 
{
    height: 100vh;
    width: 100%;
    background-image: url(./Template_1/background1.jpg);
    background-size: cover;
}

.home .overlay
{
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}
.cont 
{
  
    margin: 0 auto;
    width: 80%;
    height: 100vh;
    display: grid;
    grid-template-columns:1fr ;
    grid-template-rows: 0.7fr 1fr;
    justify-content: space-between;

   
}
/*
3.home-navbar
*/
.navbar
{

    justify-self: center ;
    align-self: start;
    
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    grid-column: 1/2;
    grid-row: 1/2;
}

.navbar ul li  {
  
    
    display: inline-block;    
    list-style: none;
    padding-left: 0px;
}

.navbar a{
    
    text-decoration: none;
    text-transform: capitalize;
    padding: 10px;
    color: #fff;
    font-weight: 700;
}
/*
4.home-content
*/
.home-content{
color: #fff;
grid-column: 1/2;
grid-row: 2/3;

justify-items: center;
align-self: top;
    
}
/*
5.home-content-text
*/
.home-content h1{
    text-align: center;
    text-transform: uppercase;
    font-size: 42px;
    margin-bottom: 20px;
}
.home-content p{
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 20px;
}
/*
6.home-content-button
*/

.home-content-btn button
{
    margin-left: 20px;
    text-transform: capitalize;
    height: 40px;
    width: 140px;
    font-weight:bold ;
}
.home-content-btn button:hover
{
background-color: rgb(8, 184, 243);
transition: 60ms ease-in;
color: #fff;
}
.learn
{
    color: #fff;
    background-color: rgb(8, 184, 243);
}
/*
7.about
*/

.about 
{
    
    
    display: grid;
    height: 70vh;
    width: 100%;
    grid-template-columns: 1fr;
    grid-template-rows: 0.1fr 1fr;
    
   
}
.about .head{
    
    text-transform: capitalize;
    font-size: 20px;
    align-self: center;
    justify-self: center;
}
.cards{
    display: flex;
    justify-content: space-around;




     }
.card{
    height: 220px;
    flex-basis: 300px;
    align-self: center;
   
    border: 2px solid black ;
    border-radius: 10px;
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 15px;
    grid-template-rows: 0.1fr 0.2fr 0.2fr;
    text-align: center;
    align-items: center;
   line-height: 1.5;
}
.card:hover{
    background-color: lightblue;

    color: #fff;
}


